<input #input type="text" placeholder="To do" class="m-1 rounded"> <button (click)="createItem(input.value)" class="btn btn-success m-1">Add</button>

<table class="center rounded">
  <tr *ngFor="let item of items">
    <div *ngIf="item.Open" id="{{item.Id}}">
      <td class="p-3">{{item.Name}}</td>
      <td><button class="btn btn-success m-1">Done</button></td>
      <td><button class="btn btn-danger m-1">Remove</button></td>

    </div>
    <!--<tr *ngIf="item.open">

        <td class="p-3">{{item.name}}</td>
        <td><button class="btn btn-success m-1">Done</button></td>
        <td><button class="btn btn-danger m-1">Remove</button></td>
      </tr>-->
    </tr>
</table>