<input #input type="text" placeholder="To do" class="m-1 rounded"> <button (click)="createItem(input.value)" class="btn btn-success m-1">Add</button>

<table class="center rounded">
  <tr *ngFor="let item of items">
    <td *ngIf="item.Open" class="p-3">{{item.Name}}</td>
    <td *ngIf="item.Open"><button class="btn btn-success m-1" (click)="markItemDone(item.Id)">Done</button></td>
    <td *ngIf="item.Open"><button class="btn btn-danger m-1" (click)="removeItem(item.Id)">Remove</button></td>
  </tr>
</table>